IRC_SERVER=irc.the14.xyz
IRC_PORT=6697
IRC_CHANNEL=#itmimimi
IRC_NICK=zeh
OLLAMA_URL=http://host.docker.internal:11434
OLLAMA_MODEL=dolphin3:latest

# WeatherBot
WEATHER_DEFAULT_LOCATION=São Paulo, SP, Brazil
